body {  
  background-color: lightgray;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 70px;
}

/************** NAV HEADER **************/

#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-default .navbar-brand {
  color:black;  
  font-weight: bold;
}

.navbar-default .navbar-toggle {
    border: 2px solid black;
    margin-top: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

#nav-list a {
    color: black;
    text-align: center;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}

.horizontal-bar {
  color: black;
  width: 98%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: black;
}

/************** MAIN CONTENT *************/

.section-menu {
  background-color: gray; 
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

#main-header {
  font-weight: bold;
  font-size: 1.75em;
  margin-top: 10px;
}

.section-header {
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 10px;
}